$pink-color: pink
$purple-color: mediumpurple
$orange-color: #ffbe39
$green-color: #cbff8d
$blue-color: lightskyblue
@font-face
  font-family: Jura
  src: url(/fonts/Jura-Light.ttf)

$base-font: Jura, sans-serif


.clearfix
  clear: both
.centralize
  width: 60%
  margin: auto auto


.pink
  z-index: 1
  width: 70%
  height: 30vh
  position: absolute
  top: 0
  left: 0
  overflow: hidden

.pinkpage
  background-color: $pink-color

.dark
  background-color: #755d80

.purple
  z-index: 2
  width: 40%
  height: 40vh
  position: absolute
  right: 0
  left: 0
  top: 0
  bottom: 0
  margin: auto auto
  text-align: center
  overflow: hidden
  a
    color: #fff
    font-size: 2rem !important
    font-family: $base-font
    text-decoration: none

.purplepage
  background-color: $purple-color

.material-icons
  color: white
  float: left
  font-size: 4rem !important
  margin: 10px
  cursor: pointer

.gallery
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  background: #745bab

.item
  background: black
  width: 20em
  height: 15em
  margin: 1em
  img
    width: 100%
    height: 100%

.allheader
  position: relative
  width: 100%
  height: 100vh
  text-align: center
  h2
    position: absolute
    box-sizing: border-box
    left: 0
    right: 0
    a
      color: #fff
      font-size: 2rem !important
      font-family: $base-font
      text-decoration: none





.orange
  z-index: 3
  position: absolute
  width: 30%
  height: 70vh
  background-color: $orange-color
  bottom: 0
  left: 0
  overflow: hidden

.orangepage
  background-color: $orange-color

.green
  float: left
  z-index: 3
  position: absolute
  width: 30%
  height: 70vh
  background-color: $green-color
  top: 0
  right: 0
  overflow: hidden
.greenpage
  background-color: $green-color

.blue
  z-index: 4
  position: absolute
  width: 70%
  height: 30vh
  bottom: 0
  right: 0
  display: block
  overflow: hidden
  a
    color: #fff
    font-size: 2rem !important
    font-family: $base-font
    text-decoration: none

.bluepage
  background-color: $blue-color



#contactform
  position: relative
  margin: 0 auto
  width: 50%
  padding: 10% 0 0 0
  height: 80vh
  left: 0
  right: 0
  color: white
  font-family: $base-font
  font-size: 2rem
  h2
    text-align: center


.center
  box-sizing: border-box
  position: inherit
  right: 0
  left: 0
  margin: 0 auto
  width: 50%
  input
    width: 100%
    height: 30px
    margin-top: 10px
    margin-bottom: 10px
    padding-left: 15px
  button
    width: 50%
    height: 50px
    background: white
    border: none
    font-family: $base-font
    font-size: 1.5rem
    margin: 10px 30%


#message
  position: inherit
  box-sizing: border-box
  width: 100%
  height: 150px
  resize: none
  padding: 15px

.item-meta
  opacity: 1
  position: absolute
  width: 100%
  height: auto
  text-align: center
  top: 45%
  color: #fff
  font-size: 2rem !important
  font-family: $base-font
.item-hover
  position: absolute
  width: 100%
  top: 0
  right: 0
  bottom: 0
  left: 0
  display: block
  cursor: pointer
  &:hover

    background: rgba(0, 0, 0, 0.2)
    transition: all 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000)
    .item-meta
      opacity: 1
      color: white /* Белый цвет текста */
      transition: all 700ms cubic-bezier(0.230, 1.000, 0.320, 1.000)

.colorset1
  width: 50px
  height: 50px
  background: cornflowerblue
  border-radius: 50px

.colorset2
  width: 50px
  height: 50px
  background: cadetblue
  border-radius: 50px

.colorset3
  width: 50px
  height: 50px
  background: cadetblue
  border-radius: 50px

.colorset4
  width: 50px
  height: 50px
  background: cadetblue
  border-radius: 50px
.footer
  position: relative
  background: rgba(77, 77, 77, 0.15)
  height: 200px
  width: 100%
  bottom: 0

@media screen and (max-width : 600px)
  #contactform
    width: 100%
