/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 61, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*:-moz-placeholder {
  text-align: center;
  color: #c6c6c6;
  font-size: 1rem;
}
/* line 64, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*::-moz-placeholder {
  text-align: center;
  color: #c6c6c6;
  font-size: 1rem;
}
/* line 67, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*:-ms-input-placeholder {
  text-align: center;
  color: #c6c6c6;
  font-size: 1rem;
}
/* line 56, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*::-webkit-input-placeholder {
  text-align: center;
  color: #c6c6c6;
  font-size: 1rem;
}

/* line 17, ../sass/screen.scss */
input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* line 18, ../sass/screen.scss */
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* line 19, ../sass/screen.scss */
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* line 20, ../sass/screen.scss */
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* line 21, ../sass/screen.scss */
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 22, ../sass/screen.scss */
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 23, ../sass/screen.scss */
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 24, ../sass/screen.scss */
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 27, ../sass/screen.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 31, ../sass/screen.scss */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.16);
}

/* line 36, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.11);
}
