/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 61, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*:-moz-placeholder {
  text-align: center;
  color: #c6c6c6;
  font-size: 1rem;
}
/* line 64, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*::-moz-placeholder {
  text-align: center;
  color: #c6c6c6;
  font-size: 1rem;
}
/* line 67, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*:-ms-input-placeholder {
  text-align: center;
  color: #c6c6c6;
  font-size: 1rem;
}
/* line 56, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
*::-webkit-input-placeholder {
  text-align: center;
  color: #c6c6c6;
  font-size: 1rem;
}

/* line 17, ../sass/screen.scss */
input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* line 18, ../sass/screen.scss */
input::-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* line 19, ../sass/screen.scss */
input:-moz-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* line 20, ../sass/screen.scss */
input:-ms-input-placeholder {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* line 21, ../sass/screen.scss */
input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 22, ../sass/screen.scss */
input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 23, ../sass/screen.scss */
input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 24, ../sass/screen.scss */
input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* line 27, ../sass/screen.scss */
::-webkit-scrollbar {
  width: 10px;
}

/* line 31, ../sass/screen.scss */
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.16);
}

/* line 36, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.11);
}

/* line 41, ../sass/screen.scss */
.colorset2 {
  opacity: 0;
  margin: 10px auto;
  width: 200px;
  height: 100px;
  background-color: #7d546a;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF7D546A', endColorstr='#FF80C6AD');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkNTQ2YSIvPjxzdG9wIG9mZnNldD0iMjYlIiBzdG9wLWNvbG9yPSIjZmY3YTg4Ii8+PHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNmZmNkYjMiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmNjYyIvPjxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjODBjNmFkIi8+PHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiM4MGM2YWQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #7d546a), color-stop(26%, #ff7a88), color-stop(49%, #ffcdb3), color-stop(70%, #fffccc), color-stop(97%, #80c6ad), color-stop(98%, #80c6ad));
  background-image: -moz-linear-gradient(left, #7d546a 0%, #ff7a88 26%, #ffcdb3 49%, #fffccc 70%, #80c6ad 97%, #80c6ad 98%);
  background-image: -webkit-linear-gradient(left, #7d546a 0%, #ff7a88 26%, #ffcdb3 49%, #fffccc 70%, #80c6ad 97%, #80c6ad 98%);
  background-image: linear-gradient(to right, #7d546a 0%, #ff7a88 26%, #ffcdb3 49%, #fffccc 70%, #80c6ad 97%, #80c6ad 98%);
}

/* line 50, ../sass/screen.scss */
.colorset1 {
  opacity: 0;
  margin: 50px auto;
  width: 200px;
  height: 100px;
  background-color: #ffce2e;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFCE2E', endColorstr='#FF87CEFA');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmY2UyZSIvPjxzdG9wIG9mZnNldD0iMjYlIiBzdG9wLWNvbG9yPSIjY2RmZjhmIi8+PHN0b3Agb2Zmc2V0PSI0OSUiIHN0b3AtY29sb3I9IiNmZmMyY2MiLz48c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iIzkzNzBkYiIvPjxzdG9wIG9mZnNldD0iOTclIiBzdG9wLWNvbG9yPSIjODdjZWZhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODdjZWZhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffce2e), color-stop(26%, #cdff8f), color-stop(49%, #ffc2cc), color-stop(71%, #9370db), color-stop(97%, #87cefa), color-stop(100%, #87cefa));
  background-image: -moz-linear-gradient(left, #ffce2e 0%, #cdff8f 26%, #ffc2cc 49%, #9370db 71%, #87cefa 97%, #87cefa 100%);
  background-image: -webkit-linear-gradient(left, #ffce2e 0%, #cdff8f 26%, #ffc2cc 49%, #9370db 71%, #87cefa 97%, #87cefa 100%);
  background-image: linear-gradient(to right, #ffce2e 0%, #cdff8f 26%, #ffc2cc 49%, #9370db 71%, #87cefa 97%, #87cefa 100%);
}
