@font-face {
  font-family: Jura;
  src: url(/fonts/Jura-Light.ttf);
}
/* line 12, ../sass/style.sass */
.clearfix {
  clear: both;
}

/* line 15, ../sass/style.sass */
.centralize {
  width: 60%;
  margin: auto auto;
}

/* line 22, ../sass/style.sass */
.pink {
  z-index: 1;
  width: 70%;
  height: 30vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 30, ../sass/style.sass */
.pink a {
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
  text-decoration: none;
}

/* line 36, ../sass/style.sass */
.pinkpage {
  background-color: #ffce2d;
}

/* line 40, ../sass/style.sass */
#aboutblock {
  position: relative;
  width: 100%;
  color: white;
  font-family: Jura, sans-serif;
  height: 100vh;
  background-color: #f5c838;
}
/* line 48, ../sass/style.sass */
#aboutblock:hover #hello {
  border-bottom: 10px solid #b5a252;
  transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 51, ../sass/style.sass */
#aboutblock:hover #hello, #aboutblock:hover #about {
  background-color: #b5a252;
  transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 56, ../sass/style.sass */
#aboutblock .one {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: auto auto;
  top: 33px;
  z-index: 999;
}
/* line 63, ../sass/style.sass */
#aboutblock .two {
  width: 100%;
  position: absolute;
  margin: auto auto 10px auto;
  top: 100px;
}
/* line 68, ../sass/style.sass */
#aboutblock #hello {
  padding: 15px;
  width: 100px;
  margin: auto auto;
  border-top: 3px dashed white;
  border-right: 3px dashed white;
  border-left: 3px dashed white;
  border-bottom: 7px solid #f5c838;
  font-size: 2rem;
  text-align: center;
}
/* line 81, ../sass/style.sass */
#aboutblock #about {
  padding: 50px;
  width: 50%;
  font-size: 1.5rem;
  margin: auto auto 100px auto;
  border: 3px dashed white;
}

/* line 90, ../sass/style.sass */
.purple {
  z-index: 2;
  width: 40%;
  height: 40vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  text-align: center;
  overflow: hidden;
}
/* line 102, ../sass/style.sass */
.purple a {
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
  text-decoration: none;
}

/* line 108, ../sass/style.sass */
.purplepage {
  background-color: #9370db;
}

/* line 111, ../sass/style.sass */
.material-icons {
  color: white;
  float: left;
  font-size: 4rem !important;
  margin: 10px;
  cursor: pointer;
}

/* line 118, ../sass/style.sass */
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #9370db;
}

/* line 124, ../sass/style.sass */
.item {
  background: black;
  width: 20em;
  height: 15em;
  margin: 1em;
}
/* line 129, ../sass/style.sass */
.item img {
  width: 100%;
  height: 100%;
}

/* line 133, ../sass/style.sass */
.allheader {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
/* line 138, ../sass/style.sass */
.allheader h2 {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
}
/* line 143, ../sass/style.sass */
.allheader h2 a {
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
  text-decoration: none;
}

/* line 153, ../sass/style.sass */
.orange {
  z-index: 3;
  position: absolute;
  width: 30%;
  height: 70vh;
  background-color: pink;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
/* line 162, ../sass/style.sass */
.orange a {
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
  text-decoration: none;
}

/* line 168, ../sass/style.sass */
.orangepage {
  background-color: pink;
}

/* line 171, ../sass/style.sass */
#devblock {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: pink;
  text-align: center;
  padding-top: 10%;
}
/* line 178, ../sass/style.sass */
#devblock h2 {
  color: #fff;
  font-size: 2rem;
  font-family: Jura, sans-serif;
  margin: 10px;
}

/* line 186, ../sass/style.sass */
#buttons {
  margin: 40px auto;
  width: 80%;
}
/* line 189, ../sass/style.sass */
#buttons li {
  margin: 5px;
  width: 15%;
  display: inline-block;
}

/* line 194, ../sass/style.sass */
.mybutton {
  position: relative;
  text-align: center;
  width: 100%;
  height: 50px;
  float: left;
  background-color: #9a63f1;
  font-size: 1rem;
  font-family: Jura, sans-serif;
  cursor: pointer;
  color: #ffffff;
}
/* line 205, ../sass/style.sass */
.mybutton p {
  height: 100%;
  line-height: 3;
}

/* line 208, ../sass/style.sass */
#buttonBack1 {
  position: absolute;
}
/* line 210, ../sass/style.sass */
#buttonBack1:hover {
  background-color: #50ead0;
  color: #ffffff;
}

/* line 213, ../sass/style.sass */
#buttonBack2:hover {
  position: absolute;
  background-color: #50ead0;
  color: #ffffff;
}

/* line 217, ../sass/style.sass */
#buttonBack3:hover {
  background-color: rgba(186, 186, 186, 0.02);
  color: #ffffff;
}

/* line 221, ../sass/style.sass */
#buttonBack1 {
  width: 100%;
  height: 50px;
  background-color: #79f1eb;
  bottom: 0;
}

/* line 227, ../sass/style.sass */
#buttonBack2 {
  position: absolute;
  height: 50px;
  background-color: #79f1eb;
  width: 100%;
  z-index: 999;
}

/* line 234, ../sass/style.sass */
.acc {
  position: relative;
  background: white;
  width: 50%;
  font-size: 1.5rem;
  font-family: Jura, sans-serif;
  cursor: pointer;
  color: #ffffff;
  line-height: 1.8;
  margin: 20px auto;
}

/* line 247, ../sass/style.sass */
.acc-h {
  background: #52fceb;
  height: 40px;
  border-top: 0.5px dashed white;
}
/* line 251, ../sass/style.sass */
.acc-h:hover {
  background-color: #50ead0;
}

/* line 253, ../sass/style.sass */
.acc-b {
  background-color: #9370db;
  height: 50px;
  display: none;
  border-top: 0.5px dashed white;
}

/* line 259, ../sass/style.sass */
.green {
  float: left;
  z-index: 3;
  position: absolute;
  width: 30%;
  height: 70vh;
  background-color: #cbff8d;
  top: 0;
  right: 0;
  overflow: hidden;
}

/* line 269, ../sass/style.sass */
.greenpage {
  background-color: #cbff8d;
}

/* line 272, ../sass/style.sass */
.blue {
  z-index: 1;
  position: absolute;
  width: 70%;
  height: 30vh;
  bottom: 0;
  right: 0;
  display: block;
  overflow: hidden;
}
/* line 281, ../sass/style.sass */
.blue a {
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
  text-decoration: none;
}

/* line 287, ../sass/style.sass */
.bluepage {
  background-color: lightskyblue;
}

/* line 292, ../sass/style.sass */
#contactform {
  position: relative;
  margin: 0 auto;
  width: 50%;
  padding: 10% 0 5% 0;
  height: 80vh;
  left: 0;
  right: 0;
  color: white;
  font-family: Jura, sans-serif;
  font-size: 2rem;
}
/* line 303, ../sass/style.sass */
#contactform h2 {
  text-align: center;
}

/* line 307, ../sass/style.sass */
.center {
  box-sizing: border-box;
  position: inherit;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 50%;
}
/* line 314, ../sass/style.sass */
.center input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}
/* line 320, ../sass/style.sass */
.center button {
  width: 50%;
  height: 50px;
  background: white;
  border: none;
  font-family: Jura, sans-serif;
  font-size: 1.5rem;
  margin: 10px 30%;
}

/* line 330, ../sass/style.sass */
#message {
  position: inherit;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 15px;
}

/* line 338, ../sass/style.sass */
.item-meta {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 45%;
  color: #fff;
  font-size: 1.7rem !important;
  font-family: Jura, sans-serif;
}

/* line 348, ../sass/style.sass */
.item-hover {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  cursor: pointer;
}
/* line 357, ../sass/style.sass */
.item-hover:hover {
  background: rgba(255, 255, 255, 0.22);
  transition: all 2000ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 361, ../sass/style.sass */
.item-hover:hover .item-meta {
  opacity: 1;
  color: white;
  transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 389, ../sass/style.sass */
.footer {
  position: absolute;
  background: rgba(9, 9, 9, 0.15);
  height: 140px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  /* line 398, ../sass/style.sass */
  #contactform {
    width: 100%;
  }

  /* line 400, ../sass/style.sass */
  #buttons li {
    width: 40%;
  }

  /* line 402, ../sass/style.sass */
  #aboutblock {
    height: 120vh;
  }
  /* line 404, ../sass/style.sass */
  #aboutblock #about {
    width: 80%;
    padding: 10px;
    font-size: 1.5rem !important;
  }

  /* line 408, ../sass/style.sass */
  .acc {
    width: 70% !important;
  }

  /* line 410, ../sass/style.sass */
  .item-meta {
    font-size: 1rem !important;
  }

  /* line 413, ../sass/style.sass */
  form #ajax-contact {
    position: absolute;
  }
}
