@font-face {
  font-family: Jura;
  src: url(/fonts/Jura-Light.ttf);
}
/* line 13, ../sass/style.sass */
.clearfix {
  clear: both;
}

/* line 15, ../sass/style.sass */
.centralize {
  width: 60%;
  margin: auto auto;
}

/* line 20, ../sass/style.sass */
.pink {
  z-index: 1;
  width: 70%;
  height: 30vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* line 29, ../sass/style.sass */
.pinkpage {
  background-color: pink;
}

/* line 32, ../sass/style.sass */
.dark {
  background-color: #755d80;
}

/* line 35, ../sass/style.sass */
.purple {
  z-index: 2;
  width: 40%;
  height: 40vh;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  text-align: center;
  overflow: hidden;
}
/* line 47, ../sass/style.sass */
.purple a {
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
  text-decoration: none;
}

/* line 53, ../sass/style.sass */
.purplepage {
  background-color: mediumpurple;
}

/* line 56, ../sass/style.sass */
.material-icons {
  color: white;
  float: left;
  font-size: 4rem !important;
  margin: 10px;
  cursor: pointer;
}

/* line 63, ../sass/style.sass */
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #745bab;
}

/* line 69, ../sass/style.sass */
.item {
  background: black;
  width: 20em;
  height: 15em;
  margin: 1em;
}
/* line 74, ../sass/style.sass */
.item img {
  width: 100%;
  height: 100%;
}

/* line 78, ../sass/style.sass */
.allheader {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}
/* line 83, ../sass/style.sass */
.allheader h2 {
  position: absolute;
  box-sizing: border-box;
  left: 0;
  right: 0;
}
/* line 88, ../sass/style.sass */
.allheader h2 a {
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
  text-decoration: none;
}

/* line 98, ../sass/style.sass */
.orange {
  z-index: 3;
  position: absolute;
  width: 30%;
  height: 70vh;
  background-color: #ffbe39;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* line 108, ../sass/style.sass */
.orangepage {
  background-color: #ffbe39;
}

/* line 111, ../sass/style.sass */
.green {
  float: left;
  z-index: 3;
  position: absolute;
  width: 30%;
  height: 70vh;
  background-color: #cbff8d;
  top: 0;
  right: 0;
  overflow: hidden;
}

/* line 121, ../sass/style.sass */
.greenpage {
  background-color: #cbff8d;
}

/* line 124, ../sass/style.sass */
.blue {
  z-index: 4;
  position: absolute;
  width: 70%;
  height: 30vh;
  bottom: 0;
  right: 0;
  display: block;
  overflow: hidden;
}
/* line 133, ../sass/style.sass */
.blue a {
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
  text-decoration: none;
}

/* line 139, ../sass/style.sass */
.bluepage {
  background-color: lightskyblue;
}

/* line 144, ../sass/style.sass */
#contactform {
  position: relative;
  margin: 0 auto;
  width: 50%;
  padding: 10% 0 0 0;
  height: 80vh;
  left: 0;
  right: 0;
  color: white;
  font-family: Jura, sans-serif;
  font-size: 2rem;
}
/* line 155, ../sass/style.sass */
#contactform h2 {
  text-align: center;
}

/* line 159, ../sass/style.sass */
.center {
  box-sizing: border-box;
  position: inherit;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 50%;
}
/* line 166, ../sass/style.sass */
.center input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
}
/* line 172, ../sass/style.sass */
.center button {
  width: 50%;
  height: 50px;
  background: white;
  border: none;
  font-family: Jura, sans-serif;
  font-size: 1.5rem;
  margin: 10px 30%;
}

/* line 182, ../sass/style.sass */
#message {
  position: inherit;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  resize: none;
  padding: 15px;
}

/* line 190, ../sass/style.sass */
.item-meta {
  opacity: 1;
  position: absolute;
  width: 100%;
  height: auto;
  text-align: center;
  top: 45%;
  color: #fff;
  font-size: 2rem !important;
  font-family: Jura, sans-serif;
}

/* line 200, ../sass/style.sass */
.item-hover {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  cursor: pointer;
}
/* line 209, ../sass/style.sass */
.item-hover:hover {
  background: rgba(0, 0, 0, 0.2);
  transition: all 2000ms cubic-bezier(0.23, 1, 0.32, 1);
}
/* line 213, ../sass/style.sass */
.item-hover:hover .item-meta {
  opacity: 1;
  color: white;
  transition: all 700ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* line 218, ../sass/style.sass */
.colorset1 {
  width: 50px;
  height: 50px;
  background: cornflowerblue;
  border-radius: 50px;
}

/* line 224, ../sass/style.sass */
.colorset2 {
  width: 50px;
  height: 50px;
  background: cadetblue;
  border-radius: 50px;
}

/* line 230, ../sass/style.sass */
.colorset3 {
  width: 50px;
  height: 50px;
  background: cadetblue;
  border-radius: 50px;
}

/* line 236, ../sass/style.sass */
.colorset4 {
  width: 50px;
  height: 50px;
  background: cadetblue;
  border-radius: 50px;
}

/* line 241, ../sass/style.sass */
.footer {
  position: relative;
  background: rgba(77, 77, 77, 0.15);
  height: 200px;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 600px) {
  /* line 249, ../sass/style.sass */
  #contactform {
    width: 100%;
  }
}
